

.container {
    padding: 40px 0 80px 0;
    background-color: purple;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.album__info {
    background-color: #242424;
    min-height: 100vh;
}

.fawk {
    color:red;
}
