@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #243e63;
}

.container {
  padding: 40px 0 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h3 {
  text-align: center;
}

em {
  font-family: "gluten";
}
/*

NAV

*/

nav {
  background: url("../src/assets/nav_image.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.nav__logo--img {
  width: 100%;
  max-width: 256px;
  max-height: 256px;
  filter: invert(1);
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.nav__link {
  font-family: gluten;
  font-size: 20px;
  margin-right: 24px;
  color: #ddd9d9;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-height: 48px;
  min-height: 48px;
  padding: 12px 40px;
  font-family: gluten;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
}

.search__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  font-family: "gluten";
  font-size: 48px;
  color: rgb(94, 191, 83);
  margin-bottom: 24px;
  letter-spacing: 0.1em;
}

.search__input--wrapper {
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
}

.search__input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-family: gluten;
  font-size: 20px;
  padding-left: 20px;
}

.search__icon--wrapper {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 5%;
  top: 20px;
  z-index: 10000;
  padding: 0 20px 0 8px;
}

.fa-magnifying-glass {
  width: 1em;
  height: 1em;
  font-size: 24px;
  color: maroon;
  transition: all 0.3s ease;
}

.fa-magnifying-glass:hover {
  color: lightblue;
}

/*

HOME

*/

#home {
  background-color: #242424;
  min-height: 100vh;
}

.home__container {
  text-align: center;
}

.home__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__top--left,
.home__top--right {
  font-family: "gluten";
}

.music__home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__para {
  font-family: gluten;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.home__icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  font-size: 50px;
  margin: 0 10px;
  animation: wave 0.9s ease infinite;
}

.icon:nth-child(1) {
  animation-delay: 0s;
  
}
.icon:nth-child(2) {
  animation-delay: 0.1s;
  
}
.icon:nth-child(3) {
  animation-delay: 0.2s;
  
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/*

 Library

 */

#library {
  background: #242424;
  min-height: 100vh;
}

.search__library--header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search__library--filter {
  font-family: gluten;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 56px;
  letter-spacing: 0.5px;
}

#filter {
  border-radius: 10px;
}

.search__library--title {
  font-family: "gluten";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
  letter-spacing: 0.5px;
}

.search__library--para {
  font-family: gluten;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.hidden {
  display: none;
}

.no-results,
.error-message {
  font-family: gluten;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.music__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.music__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music__loading--spinner {
  display: none !important;
}

.loading {
  display: block !important;
}

.fa-spinner {
  font-size: 60px;
  animation: rotate 600ms infinite linear;
}

.fa-record-vinyl,
.fa-music,
.fa-headphones {
  font-size: 80px;
  color: red;
  margin-top: 20px;
  margin-right: 8px;
}

.fa_record-vinyl {
  animation: rotate_vinyl 100ms infinite linear;
}

@keyframes rotate_vinyl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search__library--icons {
  display: flex;
  justify-content: space-between;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.music__card {
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.music-card__img--skeleton {
  background-color: #dddbdd;
  width: 100%;
  height: 200px;
  position: relative;
}

.music-card__title--skeleton,
.music-card__artist--skeleton {
  background-color: #dddbdd;
  width: 100%;
  max-width: 100px;
  position: relative;
}

.music-card__img--skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0)
  );
  transform: translateX(-100%);
  animation: shimmer 0.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.music__card:hover {
  transform: translateY(-8px);
}

.album-cover__wrapper {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 12px;
}

.album-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ablum__title,
.artist__moniker {
  font-size: 16px;
  margin-bottom: 8px;
  color: #243e63;
}

.album,
.artist {
  font-weight: 700;
}

/*

Album Spotlight

*/

#album__spotlight {
  background-color: #242424;
  min-height: 100vh;
}

.yellow {
  color: yellow;
}

.album__details {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.album__title {
  margin-bottom: 40px;
}

.album__info {
  font-size: 24px;
  text-align: left;
}

.album__img--wrapper {
  display: inline-block;
  cursor: pointer;
}

.album__image,
.magnified {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

img {
  transition: transform 0.3s ease;
}

img.magnified {
  transform: scale(2);
}

.album__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  
}

.album__bio {
  text-align: center;
  font-size: 24px;
  max-width: 100%;
  text-align: justify;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-break: break-word;
}

.album__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.tracks__unavailable {
  list-style-type: none;
}

.album__unavailable--details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album__unavailable--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-height: 48px;
  min-height: 48px;
  padding: 12px 40px;
  font-family: gluten;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 8px;
}

.albums__container {
  padding: 24px 0;
}

/*

Footer

*/

footer {
  background-color: rgba(0, 0, 0);
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 100%;
}

.footer__logo--img {
  width: 100%;
  max-width: 175px;
  max-height: 175px;
  filter: invert(1);
}

.footer__link {
  margin-left: 12px;
  font-size: 20px;
  cursor: pointer;
}

.footer__copyright {
  color: white;
  margin-top: 16px;
}

/*

TABLETS

*/

@media (max-width: 768px) {
  .album__details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .album__info {
    margin: auto;
    text-align: start;
  }
  .album__artist,
  .album__name,
  .album__track-list {
    margin-inline-end: auto;
  }
}

/*

SMALL PHONES

*/
@media (max-width: 576px) {
  .nav__link {
    visibility: hidden;
  }
  .album__details {
    display: flex;
    flex-direction: column;
  }
  .album__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  

  
}
